version: '3.3'

services:
  # Redis Cache
  redis:
    image: redis:7
    container_name: WhoWillAnswer_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data: