version: '3.3'

services:
  # Redis Cache
  redis:
    image: redis:7
    container_name: WhoWillAnswer_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    healthcheck:
     test: [ "CMD", "redis-cli", "ping" ]
     interval: 10s
     timeout: 3s
     retries: 3

volumes:
  redis_data: